<style>

  </style>
  <div class="blog-card">
    <h4>this is blog title</h4>
    <div class="d-flex my-4">
      <img
        src="img/wolf.jpg"
        alt="wolf image"
        width="100px"
        height="100px"
      />
      <p class="mx-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime magni
        mollitia numquam minus vel tempore odit? Repellat minima dolores, nemo
        consequuntur possimus asperiores nam doloribus explicabo quos? Sit,
        aspernatur facere!
      </p>
    </div>
  </div>
  