     
     
     <footer class="text-center">
      <p>made with &#10084; & passion by <span style="color: #AFAFDC;"><a href="https://instagram.com/amrendram_">amrendram</a></span></p>
     </footer>


     <script src="js/script.js"></script>
    </body>
  </html>