    <header>
      <nav class="navbar">
        <a href="#">Home</a>
        <a href="/blogs">Blog</a>
        <a href="/about">About me</a>
        <a href="/contact">Contact me</a>
      </nav>
    </header>

