<header>
  <nav class="navbar">
    <a href="./">Home</a>
    <a href="./blogs">Blog</a>
    <a href="./about">About me</a>
    <a href="./contact">Contact me</a>
  </nav>

  <div class="mobile-nav hide-mobi-nav">
    <nav class="mobile-navbar d-flex flex-column">
      <a href="./">Home</a>
      <a href="./blogs">Blog</a>
      <a href="./about">About me</a>
      <a href="./contact">Contact me</a>
    </nav>

  <div class="toggle" onclick="showNavbar()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      fill="currentColor"
      class="bi bi-list"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      />
    </svg>
  </div>
</div>

</header>