<div class="ps-2">
    <p>I am Amrendram! I am a <span class="red-color">book lover</span>, a <span class="red-color">movie enthusiast</span>, and a <span class="red-color">coder</span>.
        I code using the MERN stack.
      </p>
      <p>On this platform, you'll find reviews of the <span class="red-color">books I have read</span>, as well as my wishlists. Sharing my literary journey and thoughts is my way of connecting with fellow enthusiasts.</p>
      <p>If you'd like to connect, don't hesitate to reach out on my social media channels. Feel free to explore my website, where you'll <span class="red-color">discover my latest projects and insights into the tech world</span>.</p>
      <p>Thank you for visiting!</p>

  
  <div class="instgram">
    <!-- <img
      src="https://twitter.com/Theamrendram/photo"
      alt="amrendram"
      srcset=""
      crossorigin="anonymous"
    /> -->
  </div>
  <div class="twitter">
    <a
      href="https://twitter.com/theamrendram?ref_src=twsrc%5Etfw"
      class="twitter-follow-button"
      data-show-count="false"
      ></a
    >
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </div>
  <div class="linkedln"></div>
</div>
