<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>Blog App</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css" />

  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <div class="body-content">
      <div class="main">    
        <div class="main-text">
            <h1>
                Coding: Because '404 Not Found' is Not an Option!
              </h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis perspiciatis corrupti alias nemo ad, asperiores reiciendis quod natus fugiat vel voluptates, modi repudiandae suscipit quidem voluptate, quis iure ut consequatur.</p>
        </div>
        <div class="main-elements">
            <img src="img/page-not-found.svg" alt="" srcset=""  >
        </div>
      </div>

      <!-- profile toggle -->
      <div class="profile-div" onclick="showAbout()">
        <div class="profile-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </div>
      </div>

      <!-- profile desc  -->
      <!-- <div class="sidebar" id="sidebar">
        <h5 class="text-center">Hello There!</h5>
      </div> -->
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
